## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [101]:
import pandas as pd

#First dataframe
df2003 = pd.read_csv('datasets/wastestats.csv')
df2003.loc[df2003['waste_type']=='Plastics','waste_type']='Plastic'
df2003.loc[df2003['waste_type'].isin(['Ferrous metal','Ferrous Metal']),'waste_type']='Ferrous Metals'
df2003.loc[df2003['waste_type'].isin(['Non-ferrous metal','Non-ferrous metals']),'waste_type']='Non-ferrous Metals'
df2003 = df2003[df2003['waste_type'].isin(['Plastic','Ferrous Metals','Non-ferrous Metals','Glass'])]
#df2003['waste_type'].unique()
display(df2003.head())

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
2,Plastic,762700,59500.0,822200,0.07,2016
6,Ferrous Metals,6000,1351500.0,1357500,0.99,2016
7,Non-ferrous Metals,1300,95900.0,97200,0.99,2016
10,Glass,57600,14700.0,72300,0.20,2016
17,Plastic,766800,57800.0,824600,0.07,2015

In [102]:
#Second dataframe
df2018 = pd.read_csv('datasets/2018_2019_waste.csv')
df2018.columns=['waste_type','total_waste_generated_tonne','total_waste_recycled_tonne','year']
df2018['total_waste_generated_tonne'] = df2018['total_waste_generated_tonne']*1000
df2018['total_waste_recycled_tonne'] = df2018['total_waste_recycled_tonne']*1000
df2018.loc[df2018['waste_type']=='Plastics','waste_type']='Plastic'
df2018.loc[df2018['waste_type']=='Ferrous Metal','waste_type']='Ferrous Metals'
df2018.loc[df2018['waste_type']=='Non-Ferrous Metal','waste_type']='Non-ferrous Metals'
df2018 = df2018[df2018['waste_type'].isin(['Plastic','Ferrous Metals','Non-ferrous Metals','Glass'])]
#df2018['waste_type'].unique()
display(df2018)

,waste_type,total_waste_generated_tonne,total_waste_recycled_tonne,year
1,Ferrous Metals,1278000,1270000,2019
3,Plastic,930000,37000,2019
10,Non-ferrous Metals,126000,124000,2019
11,Glass,75000,11000,2019
16,Ferrous Metals,1269000,126000,2018
18,Plastic,949000,41000,2018
25,Non-ferrous Metals,171000,170000,2018
26,Glass,64000,12000,2018

In [103]:
df = df2003.append(df2018)
df = df[['year','waste_type','total_waste_recycled_tonne']]
df = df.sort_values(by='year')
df = df[df['year']>2014]
display(df)

     year          waste_type  total_waste_recycled_tonne
25   2015               Glass                     14600.0
22   2015  Non-ferrous Metals                    160400.0
21   2015      Ferrous Metals                   1333300.0
17   2015             Plastic                     57800.0
2    2016             Plastic                     59500.0
10   2016               Glass                     14700.0
7    2016  Non-ferrous Metals                     95900.0
6    2016      Ferrous Metals                   1351500.0
211  2017      Ferrous Metals                   1371000.0
213  2017  Non-ferrous Metals                     92200.0
218  2017               Glass                     12400.0
221  2017             Plastic                     51800.0
16   2018      Ferrous Metals                    126000.0
18   2018             Plastic                     41000.0
25   2018  Non-ferrous Metals                    170000.0
26   2018               Glass                     12000.0
1    2019      Ferrous Metals                   1270000.0
3    2019             Plastic                     37000.0
10   2019  Non-ferrous Metals                    124000.0
11   2019               Glass                     11000.0

In [104]:
dfen = pd.read_csv('datasets/energy_saved.csv')
dfen = dfen.transpose()
dfen = dfen[[2,3]]
dfen.index = [0,1,2,3,4,5]
dfen.columns = ['waste_type', 'energy_saved']
dfen = dfen.iloc[1:]
dfen.loc[dfen['waste_type']=='Ferrous Metal','waste_type']='Ferrous Metals'
dfen.loc[dfen['waste_type']=='Non-Ferrous Metal','waste_type']='Non-ferrous Metals'

display(dfen)

           waste_type energy_saved
1             Plastic     5774 Kwh
2               Glass       42 Kwh
3      Ferrous Metals      642 Kwh
4  Non-ferrous Metals    14000 Kwh
5               Paper     4000 kWh

In [105]:
finaldf = df.merge(dfen)
finaldf = finaldf.sort_values(by='year')
display(finaldf)

    year          waste_type  total_waste_recycled_tonne energy_saved
0   2015               Glass                     14600.0       42 Kwh
5   2015  Non-ferrous Metals                    160400.0    14000 Kwh
10  2015      Ferrous Metals                   1333300.0      642 Kwh
15  2015             Plastic                     57800.0     5774 Kwh
1   2016               Glass                     14700.0       42 Kwh
6   2016  Non-ferrous Metals                     95900.0    14000 Kwh
11  2016      Ferrous Metals                   1351500.0      642 Kwh
16  2016             Plastic                     59500.0     5774 Kwh
2   2017               Glass                     12400.0       42 Kwh
17  2017             Plastic                     51800.0     5774 Kwh
7   2017  Non-ferrous Metals                     92200.0    14000 Kwh
12  2017      Ferrous Metals                   1371000.0      642 Kwh
3   2018               Glass                     12000.0       42 Kwh
8   2018  Non-ferrous Metals                    170000.0    14000 Kwh
18  2018             Plastic                     41000.0     5774 Kwh
13  2018      Ferrous Metals                    126000.0      642 Kwh
9   2019  Non-ferrous Metals                    124000.0    14000 Kwh
4   2019               Glass                     11000.0       42 Kwh
14  2019      Ferrous Metals                   1270000.0      642 Kwh
19  2019             Plastic                     37000.0     5774 Kwh

In [106]:
finaldf['energy_saved'] = finaldf['energy_saved'].str.strip('Kwh')
finaldf['energy_saved'] = finaldf['energy_saved'].astype('float')
finaldf['total_energy_saved'] = finaldf['total_waste_recycled_tonne']*finaldf['energy_saved']
display(finaldf)

,year,waste_type,total_waste_recycled_tonne,energy_saved,total_energy_saved
0,2015,Glass,14600.0,42.0,6.132000e+05
5,2015,Non-ferrous Metals,160400.0,14000.0,2.245600e+09
10,2015,Ferrous Metals,1333300.0,642.0,8.559786e+08
15,2015,Plastic,57800.0,5774.0,3.337372e+08
1,2016,Glass,14700.0,42.0,6.174000e+05
6,2016,Non-ferrous Metals,95900.0,14000.0,1.342600e+09
11,2016,Ferrous Metals,1351500.0,642.0,8.676630e+08
16,2016,Plastic,59500.0,5774.0,3.435530e+08
2,2017,Glass,12400.0,42.0,5.208000e+05
17,2017,Plastic,51800.0,5774.0,2.990932e+08
7,2017,Non-ferrous Metals,92200.0,14000.0,1.290800e+09
12,2017,Ferrous Metals,1371000.0,642.0,8.801820e+08
3,2018,Glass,12000.0,42.0,5.040000e+05
8,2018,Non-ferrous Metals,170000.0,14000.0,2.380000e+09
18,2018,Plastic,41000.0,5774.0,2.367340e+08
13,2018,Ferrous Metals,126000.0,642.0,8.089200e+07
9,2019,Non-ferrous Metals,124000.0,14000.0,1.736000e+09
4,2019,Glass,11000.0,42.0,4.620000e+05
14,2019,Ferrous Metals,1270000.0,642.0,8.153400e+08
19,2019,Plastic,37000.0,5774.0,2.136380e+08

In [107]:
annual_energy_savings = finaldf.groupby('year')[['total_energy_saved']].sum()
#display(annual_energy_savings)